@import "tailwindcss";

@theme {
  /* Оставляем цвет здесь, чтобы он был доступен как класс bg-brand-beige */
  --color-brand-beige: #ECE4DB;
  --color-brand-beige2: #774E20;
  --color-brand-beige3: #534429;

  /* Маленькие экраны (Смартфоны в альбомной ориентации) */
  --breakpoint-sm: 640px;
  /* Средние экраны (Планшеты типа iPad, большие смартфоны) */
  --breakpoint-md: 768px;
  /* Большие экраны (Ноутбуки, планшеты в альбомной ориентации) */
  --breakpoint-lg: 1024px;
  /* Десктопные мониторы (Обычные компьютеры) */
  --breakpoint-xl: 1280px;
  /* Сверхширокие мониторы (Телевизоры, большие рабочие станции) */
  --breakpoint-2xl: 1536px;

  --font-gilda: var(--font-gilda), serif;
  --font-roboto: var(--font-roboto), sans-serif;
}

/* Просто базовые настройки, чтобы страница была белой и без лишних отступов */
@layer base {
  body {
    background-color: #ffffff;
    margin: 0;
    padding: 0;
  }

  h1 {
    @apply font-gilda text-[20px]  leading-[24px] text-black;
  }
}

@utility scrollbar-hide {
  /* Для Chrome, Safari и Opera */
  &::-webkit-scrollbar {
    display: none;
  }
  /* Для IE, Edge и Firefox */
  -ms-overflow-style: none;
  scrollbar-width: none;
}
